body {
    background-color:white;
    margin:0px;
    overflow:hidden;

}
@font-face {
 font-family: 'Chinese-Nfont';
 src: url('../../Font/LSSST-1498.ttf');
} 
.bkground {
    border:0px;
    margin:0px;
}
div[class^= "color"] {
    height:40px;
    margin:0px;
    position:relative;
    
}
#log-info {
    height:720px;
    width:540px;
    position:fixed;
    left:0px;
    top:0px;
    border-radius:3%;
    background-color:rgba(155, 151, 151, 0.68);
}
#usernamecontain {
    position: absolute;
    height: 30px;
    width: 500px;
    left: 20px;
    background-color: white;
    top: 177px;
    overflow: hidden;
    border-radius: 22px;
}
#username {
    position: absolute;
    /* margin-left: 50px; */
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 30px;
    outline: none;
    width: 500px;
    font-size: 23px;
    border-radius: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
}
#passwordcontain{
    position: absolute;
    height: 30px;
    width: 500px;
    left: 20px;
    top: 259px;
    background-color: white;
    overflow: hidden;
    border-radius: 22px;
}
#password {
    position: absolute;
    height: 30px;
    width: 500px;
    border: 0px;
    outline: none;
    padding: 0px;
    /* margin-left: 50px; */
    font-size: 24px;
    border-radius: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
}
#emailcontain {
    position: absolute;
    height: 30px;
    width: 500px;
    left: 20px;
    top: 427px;
    overflow: visible;
    background-color: white;
    border-radius: 22px;
}
#email {
    position: absolute;
    /* margin-left: 50px; */
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 30px;
    outline: none;
    width: 500px;
    font-size: 24px;
    border-radius: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
}
#submitcontain {
    position: absolute;
    top: 640px;
    left: 110px;
    border-radius: 39px;
    overflow: hidden;
}

#submit {
    height: 60px;
    width: 320px;
    border: 0px;
    padding: 0px;
    background-color: rgb(161, 28, 28);
    font-size: 34px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    cursor: pointer;
}
span.check-font-color:nth-child(odd) {
    color:red;
}
span.check-font-color:nth-child(even) {
    color:green;
}
ul li {
    list-style: none;
}

#schoolName {
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    padding: 0 8px;
    cursor: pointer;
    font-size: 12px;
}

.provinceSchool {
    display: none;
    position: absolute;
    width: 580px;
    background-color: white;
    height: auto;
    border: 1px solid #72B9D7;
}

.provinceSchool .title {
    width: 100%;
    height: 30px;
    background: #72B9D7;
    cursor: move;
}

.provinceSchool .title span {
    margin-left: 10px;
    font-weight: 600;
    color: #FFF;
    line-height: 30px;
}

.provinceSchool .proSelect {
width: 550px;
text-align: center;
padding: 15px 0;
}

.provinceSchool .proSelect select {
    width: 136px;
}

.provinceSchool .proSelect span {
    padding-left: 10px;
}

.provinceSchool .proSelect input {
    display: none;
}

.provinceSchool .schoolList {
    width: 550px;
    height: 180px;
    padding: 10px 0;
    overflow-y: auto;
    border: 1px solid #ddd;
}

.provinceSchool .schoolList ul {
    width: 510px;
    clear: both;
}

.provinceSchool .schoolList ul span.entertext {
    display: block;
    height: 180px;
    font: normal 16px/180px 'microsoft yahei';
    color: #999;
}
p[id^='re']
{
	font-size: 18px;
	font-style: normal;
	font-weight: bolder;
	color: rgba(0, 0, 0, 0.74);
}
.provinceSchool .schoolList ul li {
    float: left;
    text-align: center;
    width: 160px;
    margin: 5px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    background: #fafafa;
    border-radius: 3px;
}

.provinceSchool .schoolList ul li.DoubleWidthLi {
    overflow: hidden;
}

.provinceSchool .schoolList ul li:hover {
    background: #72B9D7;
    color: #fff;
}

.provinceSchool .button {
    width: 100%;
    height: 40px;
    margin-top: 8px;
}

.provinceSchool .button input[type='button']{
    float: right;
    height: 30px;
    margin-right: 15px;
    padding: 2px 15px;
    background: #72B9D7;
    border: none;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
}

    .provinceSchool .button input[type='button']:hover {
        background: #2e90bd;
    }

p#reusername {
    position: absolute;
    left: 0px;
    text-align: center;
    display: block;
    width: 540px;
    top: 117px;
}

p#repassword {
    position: absolute;
    left: 0px;
    text-align: center;
    display: block;
    width: 540px;
    top: 200px;
}

p#repasswordagain {
    position: absolute;
    left: 0px;
    text-align: center;
    display: block;
    width: 540px;
    top: 285px;
}

p#reemail {
    position: absolute;
    left: 0px;
    text-align: center;
    display: block;
    width: 540px;
    top: 369px;
}

p#recontact {
    position: absolute;
    left: 0px;
    text-align: center;
    display: block;
    width: 540px;
    top: 90px;
}

div#password-againcontain {
    position: absolute;
    height: 30px;
    width: 500px;
    left: 20px;
    top: 343px;
    background-color: white;
    overflow: hidden;
    border-radius: 22px;
}

input#password-again {
    position: absolute;
    height: 30px;
    width: 500px;
    border: 0px;
    outline: none;
    padding: 0px;
    /* margin-left: 50px; */
    font-size: 24px;
    border-radius: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
}

center#schoolcontain {
    top: 476px;
    left: 167px;
    position: absolute;
}

p#recontact {
    position: absolute;
    left: 0px;
    text-align: center;
    display: block;
    width: 540px;
    top: 495px;
}

div#contactcontain {
    position: absolute;
    height: 30px;
    width: 500px;
    left: 20px;
    top: 556px;
    background-color: white;
    overflow: hidden;
    border-radius: 22px;
}

input#contact {
    position: absolute;
    height: 30px;
    width: 500px;
    border: 0px;
    outline: none;
    padding: 0px;
    /* margin-left: 50px; */
    font-size: 24px;
    border-radius: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
}

input#school {
    text-align: center;
    cursor: pointer;
    border-radius: 28px;
}

div#proSchool {
    z-index: 99;
}
div#head {
    height: 139px;
    position: absolute;
    left: 194px;
    top: 9px;
}

img#logo {
    position: absolute;
    height: 110px;
    width: 110px;
    opacity: .9;
    left: 23px;
    transform-origin:50% 50%;
    animation-name: myrotate;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
@keyframes myrotate{
    from{
    transform:rotate(0deg);
    }
    to {
    transform:rotate(360deg);
    }
}

span#D {
    position: absolute;
    left: -64px;
    top: 10px;
    font-size: 74px;
    font-weight: bold;
    color: cornsilk;
    font-family: Chinese-Nfont;
}

span#L {
    position: absolute;
    left: 154px;
    top: 10px;
    font-weight: bold;
    color: cornsilk;
    font-family: Chinese-Nfont;
    font-size: 74px;
}
img#usernamepass {
    position: absolute;
    z-index: 3;
    width: 26px;
    left: 4px;
    top: 3px;
    visibility: hidden;
}

img#usernamewrong {
    position: absolute;
    z-index: 3;
    width: 26px;
    left: 3px;
    top: 2px;
    visibility: hidden;
}

img#passwordwrong {
    position: absolute;
    z-index: 3;
    width: 26px;
    left: 3px;
    top: 2px;
    visibility: hidden;
}

img#passwordpass {
    position: absolute;
    z-index: 3;
    width: 26px;
    left: 4px;
    top: 3px;
    visibility: hidden;
}

img#password-againwrong {
    position: absolute;
    z-index: 3;
    width: 26px;
    left: 3px;
    top: 2px;
    visibility: hidden;
}

img#password-againpass {
    position: absolute;
    z-index: 3;
    width: 26px;
    left: 4px;
    top: 3px;
    visibility: hidden;
}

img#emailwrong {
    position: absolute;
    z-index: 3;
    width: 26px;
    left: 3px;
    top: 2px;
    visibility: hidden;
}

img#emailpass {
    position: absolute;
    z-index: 3;
    width: 26px;
    left: 4px;
    top: 3px;
    visibility: hidden;
}

img#schoolwrong {
    position: absolute;
    z-index: 3;
    width: 26px;
    left: -34px;
    top: -3px;
    visibility: hidden;
}

img#schoolpass {
    position: absolute;
    z-index: 3;
    width: 26px;
    left: -33px;
    top: -2px;
    visibility:hidden;
}

img#contactwrong {
    position: absolute;
    z-index: 3;
    width: 26px;
    left: 3px;
    top: 2px;
    visibility: hidden;
}

img#contactpass {
    position: absolute;
    z-index: 3;
    width: 26px;
    left: 4px;
    top: 3px;
    visibility: hidden;
}
.TextRed:-moz-placeholder{
    color:red;
}
.TextRed:-ms-input-placeholder{
    color:red;
}
.TextRed::-moz-placeholder{
    color:red;
}
.TextRed::-webkit-input-placeholder{
    color:red;
}
.emaillist p:hover {
    background-color:#999;
}
div#emaillist {
    border-radius: 10px;
    text-align: center;
    position: absolute;
    width: inherit;
    z-index: 6;
    background-color: white;
    top: 30px;
    overflow: auto;
    max-height: 240px;
}

.emaillist p {
    height: 24px;
    margin: 0px;
    border-radius: 22px;
}
