body {
    background-color:white;
    margin:0px;
    overflow:hidden;

}
.bkground {
    border:0px;
    margin:0px;
}
div[class^= "color"] {
    height:40px;
    margin:0px;
    position:relative;
    
}
#log-info {
    height:520px;
    width:840px;
    position:fixed;
    border-radius:10%;
    background-color:rgba(155, 151, 151, 0.68);
}
#usernamecontain {
    position: absolute;
    height: 52px;
    width: 600px;
    left: 120px;
    background-color: white;
    top: 46px;
    border-radius: 22px;
}
#username {
    position: absolute;
    /* margin-left: 50px; */
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 52px;
    outline: none;
    width: 500px;
    font-size: 35px;
    border-radius: 0%;
    left: 50px;
    top: 0px;
    text-align: center;
}
#passwordcontain{
    position: absolute;
    height: 52px;
    width: 600px;
    left: 120px;
    top: 145px;
    background-color: white;
    border-radius: 22px;
}
#password {
    position: absolute;
    height: 52px;
    width: 500px;
    border: 0px;
    outline: none;
    padding: 0px;
    /* margin-left: 50px; */
    font-size: 35px;
    border-radius: 0%;
    left: 50px;
    top: 0px;
    text-align: center;
}
#check {
    position: absolute;
    left: 161px;
    top: 231px;
}
#remmember {
    height: 16px;
    width: 16px;
}
#remLB {
    font-size: 26px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.74);
}
#linkPSW {
    position: absolute;
    left: 564px;
    top: 231px;
}

#forgetPSW {
    font-size: 26px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.74);
    text-decoration: none;
}

#submitcontain {
    position: absolute;
    top: 293px;
    left: 260px;
    border-radius: 39px;
    overflow: hidden;
}

#submit {
    height: 60px;
    width: 320px;
    border: 0px;
    padding: 0px;
    background-color: white;
    font-size: 34px;
    font-weight: 400;
    color: #867f7f;
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    cursor: pointer;
}
span.check-font-color:nth-child(odd) {
    color:red;
}
span.check-font-color:nth-child(even) {
    color:green;
}

/*<form id="fm1" action="/account/login?ref=toolbar" method="post">

                    <input id="username" name="username" tabindex="1" placeholder="输入用户名/邮箱/手机号" class="user-name" type="text" value="">
                    
                    <input id="password" name="password" tabindex="2" placeholder="输入密码" class="pass-word" type="password" value="" autocomplete="off">
                   
                    
						
						
							<div class="error-mess" style="display:none;">
								<span class="error-icon"></span><span id="error-message"></span>
							</div>
						
					
					
                    <div class="row forget-password">
                    	<span class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        	<input type="checkbox" name="rememberMe" id="rememberMe" value="true" class="auto-login" tabindex="4">
                        	<label for="rememberMe">下次自动登录</label>
                        </span>
                        <span class="col-xs-6 col-sm-6 col-md-6 col-lg-6 forget tracking-ad" data-mod="popu_26">
                        	<a href="/account/fpwd?action=forgotpassword&amp;service=http%3A%2F%2Fblog.csdn.net%2Fcyp18408251336%2Farticle%2Fdetails%2F52738924" tabindex="5">忘记密码</a>
                        </span>
                    </div>
                    <!-- 该参数可以理解成每个需要登录的用户都有一个流水号。只有有了webflow发放的有效的流水号，用户才可以说明是已经进入了webflow流程。否则，没有流水号的情况下，webflow会认为用户还没有进入webflow流程，从而会重新进入一次webflow流程，从而会重新出现登录界面。 -->
					<input type="hidden" name="lt" value="LT-548606-Egebf2qdVzc4CeJkJKcGllgTCnRTgd">
			 		<input type="hidden" name="execution" value="e1s1"> 
					<input type="hidden" name="_eventId" value="submit"> 
					<input class="logging" accesskey="l" value="登 录" tabindex="6" type="button"> 
                    
                  </form>*/
